name: Flutter build example

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build_android:
    name: Build example for Android
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Disable analytics
        run: flutter config --no-analytics

      - name: Flutter pub get
        run: flutter pub get

      - name: Flutter build appbundle
        run: |
          cd example
          flutter build appbundle --release

  build_ios:
    name: Build example for iOS
    runs-on: macos-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Disable analytics
        run: flutter config --no-analytics

      - name: Flutter pub get
        run: flutter pub get

      - name: Pod install
        run: |
          cd example
          cd ios
          pod install

      - name: Flutter build iOS
        run: |
          cd example
          flutter build ios --release --no-codesign
