name: Pub publish

on:
  release:
    types: [published]

jobs:
  publish:
    name: Pub publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Publish
        uses: k-paxian/dart-package-publisher@v1.6
        with:
          credentialJson: ${{ secrets.CREDENTIALS }}
